*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android build
app/build/
build/
*.apk
*.aab

# Keystore
keystore/*.jks

# IDE
.idea/
app/keystore/release.jks
